:root{
    --bg-color: #709b90;
    --h1-color: #9fd549;
    --button-color: #bbf45f;
    --h2-color: #113c1eb1;
    --accent-color-light: #cdf3d3b1;
    --accent-color-dark: #2e403c92;
    --text-color:#1c211eb1;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*,
::before,
::after{
    box-sizing: inherit;
}

body{
    background-color: var(--bg-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color);
}

.app{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app h1{
    display: inline-block;
    text-align: center;
    padding: 0.4em;
    border-radius: 5px;
    color: var(--h1-color);
    background-color: #237e69b1;
    box-shadow: 0.2em 0.2em 0.4em #2e403c92;
    font-size: 2rem;
    font-weight: 500;
}

.app h2{
    text-align: center;
    color: var(--h2-color);
    font-size: 2rem;
    font-weight: 500;
}

.message{
    background-color: #cdf3d3b1;
    border-radius: 15px;
    text-align: block;
    font-size: 1.2em;
    margin: 1.2em;
    padding: 0.9em;
    top: 5%;
    left: 25%;
    max-width: 50vw;
    box-shadow: 0.2em 0.8em 2em #2e403c92;
}

button{
    background-color: #237e69b1;
    color: var(--button-color);
    border: 1px solid #237e69b1;
    border-radius: 5px;
    padding: 0.5em 1em;
    font-size: 1.2em;
    margin: 0.5em;
    cursor: pointer;
    box-shadow: 0.2em 0.2em 0.4em #678a8292;
    transition: all 0.3s;
}

button:hover{
    background-color: #113c1eb1;
    color: var(--h2-color);
    border: 1px solid #113c1eb1;
    box-shadow: 0.1em 0.1em 0.2em #202b2992;
    transform: scale(0.98);
}